
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#app {
  background-color: #f7f7f7;
  background-image: url("/images/gmapcoast.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.total-tile {
  text-align: center;
  .head {
    font-size: 18px;
    @media (min-width: $x-small) {
      font-size: 24px;
    }
    font-weight: 800;
    color: #333333;
    margin-bottom: 0!important;
  }
}

table {
  &.leaderboard {
    tr {
      th {
        border-top: 0;
      }
    }
  }
}

.card-head-btn {
  display:flex; 
  justify-content: space-between;
}

.form-check {
  &.is-captain {
    justify-content: center;
    display: flex;
  }
}

a.company-link {
  color: #36a9a7;
}

.fancy-callout {
  padding: 1em;
  .fancy-callout-text {
    padding: 1em;
    background-color: #f7f7f7;
    border-left: 2px solid #f9c425;
  }
}
