
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#app {
  background-color: #f7f7f7;
  background-image: url("/images/gmapcoast.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
